body{
    margin: 0;
    padding: 0;
    text-align: center;
    background: #000;
    color: #666;
}
.game-area{
    position: relative;
    width: auto;
    height: 100%;
    max-width: 640px;
    max-height: 480px;
    background-color: #666666;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
}
#game-canvas{
    width: 100%;
    height: 100%;
    margin: auto;
}
.info{
    background: none;
    color: #fff;
    height: 40px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 10px;
    opacity: 0.2;
}

@media (min-width: 500px) {
}